name: Build / Lint / Test / Deploy
env:
  CLOUD_RUN_PROJECT_ID: ${{ secrets.CLOUD_RUN_PROJECT_ID }}
  CLOUD_RUN_REGION: us-east4
  REPO_NAME: hopper-frontend

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:

  build-lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          
      - name: Install dependencies
        run: |
          npm install
      - name: Lint
        run: |
          npm run lint
      - name: Unit tests
        run: |
          npm run test
#       - name: Install Playwright
#         run: npx playwright install --with-deps
#       - name: E2E tests
#         run: |
#           npm run test:e2e
#       - name: Upload test results
#         if: always()
#         uses: actions/upload-artifact@v2
#         with:
#           name: playwright-report
#           path: playwright-report
          
  deploy-image-to-cloud-run:
    needs: [build-lint-test]
    runs-on: ubuntu-latest
    
#     permissions:
#       contents: 'read'
#       id-token: 'write'

    steps:

    - name: Checkout
      uses: actions/checkout@v3
      
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        credentials_json: '${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}'
      
#     - id: 'auth'
#       uses: 'google-github-actions/auth@v0'
#       with:
#         workload_identity_provider: 'projects/116267393806/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
#         service_account: ${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT_EMAIL }}

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'

#     - uses: google-github-actions/setup-gcloud@v0
#       with:
#         project_id: ${{ secrets.CLOUD_RUN_PROJECT_ID }}
#         service_account_key: ${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT }}
#         service_account_email: ${{ secrets.CLOUD_RUN_SERVICE_ACCOUNT_EMAIL }}

    - name: Enable docker auth
      run: |-
        gcloud --quiet auth configure-docker

    - name: Build and tag image
      run: |-
        docker build . --tag "gcr.io/$CLOUD_RUN_PROJECT_ID/$REPO_NAME:$GITHUB_SHA"

    - name: Push image to GCR
      run: |-
        docker push gcr.io/$CLOUD_RUN_PROJECT_ID/$REPO_NAME:$GITHUB_SHA

    - name: Deploy
      run: |-
        gcloud run deploy $REPO_NAME --image gcr.io/$CLOUD_RUN_PROJECT_ID/$REPO_NAME:$GITHUB_SHA \
          --project $CLOUD_RUN_PROJECT_ID \
          --region $CLOUD_RUN_REGION \
          --allow-unauthenticated \
          --quiet
