name: Build + Lint + Test + Deploy
env:
  PROJECT_ID: hopper-frontend-350514
  SERVICE: hopper-frontend-350514
  REGION: us-east4

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:

  build-lint-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          
      - name: Install dependencies
        run: |
          npm install
      - name: Lint
        run: |
          npm run lint
      - name: Unit tests
        run: |
          npm run test
#       - name: Install Playwright
#         run: npx playwright install --with-deps
#       - name: E2E tests
#         run: |
#           npm run test:e2e
#       - name: Upload test results
#         if: always()
#         uses: actions/upload-artifact@v2
#         with:
#           name: playwright-report
#           path: playwright-report
          
  deploy:
    runs-on: ubuntu-latest
    needs: [build-lint-test]
    
    permissions:
      contents: 'read'
      id-token: 'write'
      
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v0'
      with:
        workload_identity_provider: 'projects/116267393806/locations/global/workloadIdentityPools/github-actions/providers/github'
        service_account: 'hopper-github-actions@hopper-frontend-350514.iam.gserviceaccount.com'

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v0

    - name: Authorize Docker push
      run: gcloud auth configure-docker gcr.io
      
    - name: set gcloud account
      run: gcloud config set account hopper-github-actions@hopper-frontend-350514.iam.gserviceaccount.com

    - name: Build and Push Container
      run: |-
        docker build -t gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }} .
        docker push gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }}
        
    - name: Deploy to Cloud Run
      run: |-
        gcloud run deploy ${{ env.SERVICE }} \
          --region ${{ env.REGION }} \
          --image gcr.io/${{ env.PROJECT_ID }}/${{ env.SERVICE }}:${{  github.sha }} \
          --platform "managed" \
          --quiet
